.robo {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.rob {
    
    margin-top: 10%;

}
.hello {
    
    margin-top: 7%;

}
.hai {
    margin-left: 0%;
    margin-top: 0%;

}
.robert {
    width: 180px;
    padding: 10px 10px;
    margin-left: 50%;
    margin-bottom: 20px;
    
}
.ruby {
    margin-top: 100px;
}